/* 
* master file - use "myth base.css output.css" to compile
* and link to output.css in html
*/

/* reset browser styles */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset browser styles */

/* generic settings */

* {
  box-sizing: border-box;
}

/* this should contain variables in format of proposed CSS addition for 
*  processing by myth
*/

:root {
  /* remember image dir is relative to css file, not html */
  /* screen dimension stuff for flexbox */
  /* visualisation toolbars */
}

html {
  padding-top: 0;
  /*background-image: url(var(--image_dir)/bg_page.png); */
  background-color: rgb(255,255,255);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  width: auto;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 0 0 10px rgba(245, 245, 245,0.5);
  background-color: rgba(250, 250, 250,0.9);
  border-radius: 10px;
  border: 1px solid gray;
}

.subarticle {
  width: 100%;
  clear: both;
}

h1,
h2,
h3 {
  color: rgb(64,64,64);
  padding-top: 10px;
}

p {
  color: black;
}

header,
footer,
nav {
  display: block;
}

header {
  background-color: rgba(59, 189, 15,0.7);
  border-radius: 10px;
}

/* messy fix for nav element dropping */

header:after,
nav:after {
  content: " ";
  display: table;
  clear: both;
}

header h1 {
  font-size: 2em;
  color: rgba(255,255,255,0.9);
  text-shadow: 1px 1px 2px rgba(255,255,255,0.9);
  font-weight: bold;
  padding-left: 20px;
  padding-top: 10px;
}

.loginRegister {
  float: right;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 3px white;
  background-color: white;
  margin-right: 50px;
}

.loginRegisterButton {
  font-size: 1.1em;
  display: inline-block;
  background: url(../images/lock-sprite.gif) no-repeat;
  background-position: left top;
  /* background-position: left -26px; */
  /* unlocked */
  padding-left: 30px;
  padding-right: 5px;
  color: red;
  text-decoration: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.loginRegisterButton:hover {
  box-shadow: none;
  color: black;
  background-color: rgba(102, 255, 51,1.0);
  font-weight: bold;
}

.mainNavbar,
.sideNavbar ul {
  overflow: hidden;
}

.sideNavbar ul {
  margin-top: 10px;
  margin-right: 5px;
  padding-right: 5px;
}

.mainNavbar li,
.sideNavbar li {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mainNavbar li {
  border-bottom: 1px solid white;
}

.sideNavbar li {
  border: 1px dotted white;
  padding: 5px;
  width: 100%;
}

.mainNavbar a,
.sideNavbar a {
  display: block;
  font-size: 1em;
  color: white;
  font-weight: normal;
  text-decoration: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  width: 100%;
  /* faffing with overrun */
  overflow: auto;
  clear: both;
}

.mainNavbar a {
  float: left;
  padding: 5px;
  border-right: 1px dotted white;
}

.mainNavbar li:last-of-type a {
  border-right: none;
}

.mainNavbar a:hover,
.sideNavbar a:hover {
  background-color: rgba(102, 255, 51,1.0);
  font-weight: bold;
}

.mainNavBar .inactive {
  color: gray;
}

.home .homeLink,
.vigr .vigrLink,
.aboutUs .aboutUsLink,
.yourAccount .yourAccountLink,
.tutorials .tutorialsLink,
.news .newsLink,
.company .companyLink {
  background-color: rgba(77, 153, 51,0.7);
  color: yellow;
}

.home:hover .homeLink:hover,
.vigr:hover .vigrLink:hover,
.aboutUs:hover .aboutUsLink:hover,
.yourAccount:hover .yourAccountLink,
.tutorials:hover .tutorialsLink,
.news:hover .newsLink:hover,
.company:hover .companyLink:hover {
  color: black;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.mainFirst {
  float: left;
  width: 80%;
}

.main {
  background-color: rgba(250, 250, 250,0.9);
  padding: 0 5px 0 5px;
  border-left: 1px dotted gray;
  border-right: 1px dotted gray;
  clear: left;
}

.main h2 {
  font-size: 1.15em;
  margin-top: 10px;
}

.main h3 {
  font-size: 1em;
  margin-top: 5px;
}

.main p {
  margin-bottom: 5px;
}

aside ul {
  list-style: none;
}

aside h2 {
  font-size: 1em;
  margin-top: 10px;
}

aside h3 {
  font-size: 1em;
  margin-top: 10px;
}

aside p,
aside li {
  font-size: .75em;
  margin-top: 10px;
}

aside li {
  list-style: none;
}

footer {
  margin-top: 5px;
  font-size: .75em;
  padding: 10px 10px 10px 10px;
  border: 1px solid gray;
  /* needs var */
  border-radius: 5px;
  background-color: rgba(240, 240, 240, 0.5);
  color: rgb(200,200,200);
  clear: both;
}

/* will need to set via viewport in response to capabilities */

nav ul,
header,
header > *,
footer,
footer > *,
.contentWrapper,
body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* media queries to set viewport to follow */